body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway';
  background-image: url("https://commons.wikimedia.org/wiki/File:Spinning_globe.gif")
}


img {
  width: 20%;
  height: auto;
}

h1, h2 {
  text-align: center;
}

.neighbours {
  display: flex;
}

.selector {
  display: flex;
  justify-content: center;
}

.display-container {
  display: flex;
  background-color: lightgrey;
  justify-content: center;
  flex-direction: column;
  border: solid 1px;
  width: 50%;
  margin: 20px auto;
  padding: 10px
}

.display-container img {
  margin: 0 auto;
  width: 50%;
  height: auto
}

section {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

section img{
  height: 100%;
  width: auto;
  margin: 0;
  border: 1px solid black;
}

.favCountryTitle {
  text-align: center;
}

.container {
  position: relative;
  width: auto;
  height: 150px;
}

.overlay {
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
